<h1> Edit <%= @song.name %></h1>

<form action="/songs/<%= @song.id %>" method="post">
<input type="hidden" name="_method" value="patch">
  <label for="name">Name:</label><br>
  <input type="text" id="name" name="song[name]" value=<%= @song.name %>><br>
  <label for="artist">Artist:</label><br>
  <input type="text" id="artist" name="song[artist]" value=<%= @song.artist %>><br>
  <label for="album">Album:</label><br>
  <input type="text" id="album" name="song[album]" value=<%= @song.album %>><br>
  <label for="rating">Rating:</label><br>
  <input type="number" id="rating" name="song[rating]" min="0" max="10" value=<%= @song.rating %>><br>
  <input type="submit" value="Sumbit your rating!">
</form>
