<h1><%= @song.name %></h1>
<p>Name: <%= @song.name %></p>
<p>Artist: <%= @song.artist %></p>
<p>Album: <%= @song.album %></p>
<p>Rating: <%= @song.rating %></p>

<form action="/songs/<%= @song.id %>" method="post">
<input type="hidden" name="_method" value="delete">
<input type="submit" value="Delete this Song!">