<h1><%= @song.name %></h1>
<p>Artist: <%= @song.artist %></p>
<p>Album: <%= @song.album %></p>
<p>Rating: <%= @song.rating %></p>

<% if current_user == @song.user %>


<a href="/songs/<%= @song.id %>/edit">Edit Song </a>



<form action="/songs/<%= @song.id %>" method="post">
<input type="hidden" name="_method" value="delete">
<input type="submit" value="Delete this Song!">
</form>

<% end %>